/* *navbar */

@media (max-width: 992px) {
  .collaps_nav {
    position: absolute;
    top: 0;
    right: -100%;
    background-color: white;
    width: 180px;
    height: 100vh;
    transition: 0.3s;
    padding: 16px;
  }
  .navbar-link {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
  }
  .activeNAV {
    right: 0;
    top: 0;
  }
  .activebutnav {
    display: none;
  }

  .exitbut {
    display: none;
  }
  .activeexit {
    display: flex;
    justify-content: space-between;
  }
  .tmblexit {
    background: white;
    border: 0;
    width: 30px;
    height: 30px;
  }
  .BCR {
    padding-top: 9px;
    font-family: arial;
    font-weight: bold;
    font-size: 14px;
  }
  .kotakbir {
    background-color: #0d28a6;
    height: 34px;
    width: 100px;
  }
}

@media (min-width: 992px) {
  .navbar .container-fluid {
    padding-right: 249px;
    padding-left: 136px;
  }
  .navbar-link {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    color: #000000;
    margin-right: 32px;
  }
  .navbar {
    margin: 0;
    background-color: #f1f3ff;
  }

  .nav-link:hover::after {
    content: "";
    display: block;
    width: 50%;
    border-bottom: 3px solid blue;
    margin: auto;
    margin-bottom: -3px;
  }
  .exitbut {
    display: none;
  }
  .kotakbir {
    background-color: #0d28a6;
    height: 34px;
    width: 100px;
  }
}
/* *banner */
@media (min-width: 992px) {
  .banner {
    background-color: #f1f3ff;
    display: flex;
    height: 256px;
  }
}
@media (max-width: 992px) {
  .banner {
    background-color: #f1f3ff;
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
  }
}
/* *search */

.pencarian_mobil button {
  font-size: 14px;
}
.color_text {
  color: #0d28a6;
  font-weight: bold;
}

select:invalid {
  color: gray;
}

@media (min-width: 992px) {
  .pencarian_mobil {
    bottom: 50px;
    max-width: 1074px;
    font-size: 12px;
    font-family: Arial;
  }
}
@media (max-width: 992px) {
  .pencarian_mobil {
    margin-top: 35px;
    font-size: 12px;
    font-family: Arial;
    max-width: 370px;
    position: static !important;
  }
  .pencarian_mobil button {
    margin-top: 10px;
  }
}
/* *hasil pencarian */
.result {
  font-size: 14px;
  font-family: arial;
  margin-bottom: 290px;
}
.result .search_content {
  bottom: 10px;
  max-width: 1074px;
}
.result_img {
  max-width: 270px !important;
  max-height: 160px !important;
}
.hargaperhari {
  font-size: 16px;
  font-weight: bold;
}
.result .deskripmbl {
  font-weight: bold;
}

/* *footer */
.kaki p {
  font-family: Arial;
  font-weight: bold;
  font-size: 14px;
}
.connect_us img {
  margin-right: 16px;
}
